[submodule "dependencies/NEventStore"]
	path = dependencies/NEventStore
	url = https://github.com/dementeddevil/NEventStoreAsync.git
[submodule "dependencies/AggregateSource"]
	path = dependencies/AggregateSource
	url = https://github.com/dementeddevil/AggregateSourceAsync.git
